@page "/category"
@inject ICategoryService CategoryService;
@inject IJSRuntime JsRuntime;


<DeleteModal 
    OnModalConfirmation="ConfirmDelete_Click"
    Title="Are you sure you want to delete this category?"
    ButtonClass="btn-danger"
    ButtonText="Delete">
    
</DeleteModal>


@if (IsLoading)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column bg-white justify-content-center align-items-center">
        <img src="Images/loading.gif" alt="loading"/>
    </div>
}
else
{
    <div class="card card-body border-0 mt-4">
        <div class="card-header bg-black bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Category List</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <a href="category/create" class="btn btn-lg btn-secondary" style="width: 250px"><i class="bi bi-plus-square"></i> Add category</a>
                </div>
            </div>
            @if (Categories.Any())
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Categories)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>
                                    <a href="@($"category/update/id={category.Id}")" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i> Edit</a>
                                    <button class="btn btn-sm btn-danger" @onclick="@(() => DeleteCategory(category.Id))"><i class="bi bi-trash3"></i> Delete</button>
                                                                                                                                  </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}

@code {
    private bool IsLoading { get; set; } = true;
    private IEnumerable<Category> Categories { get; set; } = new List<Category>();
    private Guid DeleteCategoryId { get; set; } = Guid.Empty;
    
    protected override async Task OnInitializedAsync()
    {
        
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadCategories();
            IsLoading = false;
            StateHasChanged();
        }
    }

    private async Task LoadCategories()
    {
        Categories = await CategoryService.GetAllCategories();
    }
    
    private async Task DeleteCategory(Guid id)
    {
        DeleteCategoryId = id;
        await JsRuntime.InvokeVoidAsync("ShowConfirmationModal");
    }
    
    private async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsLoading = true;
        await JsRuntime.InvokeVoidAsync("HideConfirmationModal");

        if (isConfirmed && DeleteCategoryId != Guid.Empty)
        {
            var result = await CategoryService.DeleteCategory(DeleteCategoryId);
            if(result)
                await JsRuntime.ShowNotification("success", "Category deleted successfully");
            else
                await JsRuntime.ShowNotification("error", "Category deletion failed");
            await LoadCategories();
        }

        DeleteCategoryId = Guid.Empty;
        IsLoading = false;
    }
    

}